.gallery-container {
  position: relative;
  /*display: inline-block;*/
}

.gallery-container .overlay:hover {
    opacity: 1
}

.overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    background-color: #212121
}

.overlay a {
    color: #FFF
}

.overlay a:hover {
    color: #DA784D
}

.overlay h2 {
    color: #FFF
}

.overlay h3 {
    font-family: "Rubik", "Poppins", "Hel­vetica", Arial, sans-serif
}



.title {
  margin-left: 20px;
  font-size: 40px;
}

.description {
  margin-left: 40px;
}

.bold {
  font-weight: bold
}


